@import 'node_modules/bootstrap/scss/bootstrap-grid.scss';

.fullscreen {
    height: 100vh;
    position: relative;

    .image{
        position: absolute;
        bottom: 75px;
        left: 15%;
    }
    .text{
        position: absolute;
        bottom: 75px;
        left: 15%;
    }
}

