@import 'node_modules/bootstrap/scss/bootstrap-grid.scss';

.slider{
    display: contents;
    height: 100vh;

    img{
        object-fit: cover !important;
        // max-height: 600px;  //need to changed in small devices
        height: 100vh;
    }

    .content-overlay-topic{
        height: 40px;   //need to remove in small devices
        background-color: #73757799;
        width: fit-content;
        margin: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    .content-overlay{
        height: 30px;   //need to remove in small devices
        background-color: #73757799;
        width: fit-content;
        margin: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
}
